- var bodyClass = '';
block tmpVars

doctype html
html(lang="en")

    include ../parts/head

    body(class='#{bodyClass}')
        .wrapper
            include ../components/site-header

            block content

            include ../components/site-footer
            script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
            script(src="../js/global.js")