section.section-offset
    .row.align-center
        .small-12.large-10.columns
            .section-title.text-center
                h2 Realty in progress
            .home-verical-slider
                .slide-item
                    .row
                        .small-12.medium-4.columns.content-holder
                            .b-info_item.case-1
                                .title
                                    h3 Villa Monica
                                .content
                                    p Turner is a North America-based, international construction services company and is a leading builder in diverse market segments. The company has earned recognition for undertaking large, complex projects, fostering innovation, embracing emerging technologies. #[a(href="#") Read more]
                                a(href="#").button VIEW ALL PROJECTS
                        .small-12.medium-8.columns.image-holder
                            img(src="../images/bb-s.jpg", alt="pic")
                .slide-item
                    .row
                        .small-12.medium-4.columns
                            .b-info_item.case-1
                                .title
                                    h3 Villa Monica
                                .content
                                    p Turner is a North America-based, international construction services company and is a leading builder in diverse market segments. The company has earned recognition for undertaking large, complex projects, fostering innovation, embracing emerging technologies. #[a(href="#") Read more]
                                a(href="#").button VIEW ALL PROJECTS
                        .small-12.medium-8.columns.image-holder
                            img(src="../images/bb-s.jpg", alt="pic")