section.section-offset
    .row.expanded
        .small-12.columns
            .section-title.text-center
                h2 Our last project
            .projects-slider-wrapper
                .offset-slider.left-side.projects-slider
                    .slide-item.full-height
                        .image-holder.has-background(style='background-image: url(../images/hs/1.jpg)')
                    .slide-item.full-height
                        .image-holder.has-background(style='background-image: url(../images/hs/2.jpg)')
                    .slide-item.full-height
                        .image-holder.has-background(style='background-image: url(../images/hs/3.jpg)')
                    .slide-item.full-height
                        .image-holder.has-background(style='background-image: url(../images/hs/4.jpg)')
                    .slide-item.full-height
                        .image-holder.has-background(style='background-image: url(../images/hs/5.jpg)')
                    .slide-item.full-height
                        .image-holder.has-background(style='background-image: url(../images/hs/6.jpg)')

                .projects-slider-info
                    .b-info_item
                        .title
                            h3 Villa Monica
                        .content
                            p Turner is a North America-based, international construction services company and is a leading builder in diverse market segments. The company has earned recognition for undertaking large, complex projects, fostering innovation, embracing emerging technologies. #[a(href="#") Read more]
                        a(href="#").button VIEW ALL PROJECTS
                    .b-info_item
                        .title
                            h3 Slide 2
                        .content
                            p slide content 2
                        a(href="#").button VIEW ALL PROJECTS
                    .b-info_item
                        .title
                            h3 Slide 3
                        .content
                            p slide content 3
                        a(href="#").button VIEW ALL PROJECTS