section.section-offset
    .row.align-center
        .small-12.large-10.columns
            .row
                .small-12.medium-6.columns
                    .b-info_item
                        .title
                            h3 Our service
                        .content
                            p Sky Development International provides comprehensive management services through the development, design and construction phases of general building projects. #[a(href="#") Read more]
        
                .small-12.medium-6.columns
                    .b-info_item
                        .title
                            h3 Buying from us
                        .content
                            p Turner is a North America-based, international construction services company and is a leading builder in diverse market segments. #[a(href="#") Read more]
        
                .small-12.medium-6.columns
                    .b-info_item
                        .title
                            h3 About us
                        .content
                            p Our people bring their technical knowledge, experience, and resourcefulness to the delivery of our construction services. As the largest general contractor in the country. #[a(href="#") Read more]
        
                .small-12.medium-6.columns
                    .b-info_item
                        .title
                            h3 Why Montenegro
                        .content
                            p With a network of offices across North America and a presence in twenty countries, Turner has a comprehensive local office network. #[a(href="#") Read more]