footer.site-footer
		.row.align-center
			.small-12.large-10.columns
				.row
					.small-12.medium-3.columns
						.site-logo
							a(href='#'): include ../../images/logo-menu.svg
					.small-12.medium-6.large-7.columns.footer-row
						ul.column-count
							li: a(href='#') Main
							li: a(href='#') About us
							li: a(href='#') About Montenegro
							li: a(href='#') Why Montenegro
							li: a(href='#') Services
							li: a(href='#') Projects
							li: a(href='#') Contacts
					.small-12.medium-3.large-2.columns.footer-row
						a(href="tel: 12223450000") +1 222-345-0000
						ul.socials
							li: a(href="#").icon-facebook
							li: a(href="#").icon-instagram
							li: a(href="#").icon-youtube
							li: a(href="#").icon-twitter