footer.site-footer
		.row.align-center
			.small-12.large-10.columns
				.row
					.small-12.medium-3.columns
						.site-logo
							a(href='#'): img(src='../images/logo_footer.png' alt='logo')
					.small-12.medium-7.columns.footer-row
						ul.column-count
							li: a(href="#") Main
							li: a(href="#") Service
							li: a(href="#") Our Projects 
							li: a(href="#") About Us
							li: a(href="#") About Montenegro
							li: a(href="#") Contacts
					.small-12.large-2.columns.footer-row
						a(href="tel: 12223450000") +1 222-345-0000
						ul.socials
							li: a(href="#").icon-facebook
							li: a(href="#").icon-instagram
							li: a(href="#").icon-youtube
							li: a(href="#").icon-twitter