header.site-header.full-height
    .site-header_slider
        .slide-item.has-background.full-height(style='background-image: url(../images/header.png)')
        .slide-item.has-background.full-height(style='background-image: url(../images/header.png)')
        .slide-item.has-background.full-height(style='background-image: url(../images/header.png)')
    .site-haeder_info
        .site-haeder_info_inner
            .info-row.top-row
                .b-align
                    h1 #[span SKY] IS NO LIMIT
                    a(href='#').button FIND YOUR HOME
            .info-row.bottom-row
                a(href="tel:+1222-450000").phone-icon +1 222-345-0000 #[img(src='../images/phone_header.svg' alt='phone')]
                form(action="#").lang-form
                    select.lang
                        option.option(value="EN") EN
                        option.option(value="DE") DE
                        option.option(value="SR") SR
                        option.option(value="RU") RU
                        option.option(value="UKR") UKR
    .site-menu
        .site-logo
            a(href='#'): include ../../images/logo-menu.svg
        nav.site-nav
            .site-nav_inner
                a(href='#').active Main
                a(href='#') About us
                a(href='#') About Montenegro
                a(href='#') Why Montenegro
                a(href='#') Services
                a(href='#') Projects
                a(href='#') Contacts
        .menu-button
            .sandwich
                .sw-topper
                .sw-bottom
                .sw-footer

