extends templates/pageTemplate

block tmpVars
    - var bodyClass = 'home-page';

block title
    title Site title

block script
    script(type='text/javascript').
        var vars = {
            ajaxUrl: "",
            page: 'home_page'
        };

block content
    main.site-main
        section.section-offset.has-image
            .row.align-center
                .small-12.large-10.columns
                    .row
                        .small-12.medium-6.columns
                            .b-info_item
                                .title
                                    h3 Our service
                                .content
                                    p Sky Development International provides comprehensive management services through the development, design and construction phases of general building projects. #[a(href="#").readmore Read more]
                
                        .small-12.medium-6.columns
                            .b-info_item
                                .title
                                    h3 Buying from us
                                .content
                                    p Turner is a North America-based, international construction services company and is a leading builder in diverse market segments. #[a(href="#").readmore Read more]
                
                        .small-12.medium-6.columns
                            .b-info_item.case-3
                                .title
                                    h3 About us
                                .content
                                    p Our people bring their technical knowledge, experience, and resourcefulness to the delivery of our construction services. As the largest general contractor in the country. #[a(href="#").readmore Read more]
                
                        .small-12.medium-6.columns
                            .b-info_item
                                .title
                                    h3 Why Montenegro
                                .content
                                    p With a network of offices across North America and a presence in twenty countries, Turner has a comprehensive local office network. #[a(href="#").readmore Read more]
        section.section-offset
            .row.expanded
                .small-12.columns
                    .section-title.text-center
                        h2 Our last project
                    .projects-slider-wrapper
                        .offset-slider.left-side.projects-slider
                            .slide-item.full-height
                                .image-holder.has-background(style='background-image: url(../images/hs/1.jpg)')
                            .slide-item.full-height
                                .image-holder.has-background(style='background-image: url(../images/hs/2.jpg)')
                            .slide-item.full-height
                                .image-holder.has-background(style='background-image: url(../images/hs/3.jpg)')
                            .slide-item.full-height
                                .image-holder.has-background(style='background-image: url(../images/hs/4.jpg)')
                            .slide-item.full-height
                                .image-holder.has-background(style='background-image: url(../images/hs/5.jpg)')
                            .slide-item.full-height
                                .image-holder.has-background(style='background-image: url(../images/hs/6.jpg)')

                        .projects-slider-info
                            .b-info_item
                                .title
                                    h3 Villa Monica
                                .content
                                    p Turner is a North America-based, international construction services company and is a leading builder in diverse market segments. The company has earned recognition for undertaking large, complex projects, fostering innovation, embracing emerging technologies. #[a(href="#").readmore Read more]
                                a(href="#").button VIEW ALL PROJECTS
                            .b-info_item
                                .title
                                    h3 Slide 2
                                .content
                                    p slide content 2
                                a(href="#").button VIEW ALL PROJECTS
                            .b-info_item
                                .title
                                    h3 Slide 3
                                .content
                                    p slide content 3
                                a(href="#").button VIEW ALL PROJECTS
        section.section-offset
            .row.align-center
                .small-12.large-10.columns
                    .section-title.text-center
                        h2 Realty in progress
                    .home-verical-slider
                        .slide-item
                            .row
                                .small-12.medium-4.columns.content-holder
                                    .b-info_item.case-1
                                        .title
                                            h3 Villa Monica
                                        .content
                                            p Turner is a North America-based, international construction services company and is a leading builder in diverse market segments. The company has earned recognition for undertaking large, complex projects, fostering innovation, embracing emerging technologies. #[a(href="#").readmore Read more]
                                        a(href="#").button VIEW ALL PROJECTS
                                .small-12.medium-8.columns.image-holder
                                    img(src="../images/bb-s.jpg", alt="pic")
                        .slide-item
                            .row
                                .small-12.medium-4.columns.content-holder
                                    .b-info_item.case-1
                                        .title
                                            h3 Villa Monica
                                        .content
                                            p Turner is a North America-based, international construction services company and is a leading builder in diverse market segments. The company has earned recognition for undertaking large, complex projects, fostering innovation, embracing emerging technologies. #[a(href="#").readmore Read more]
                                        a(href="#").button VIEW ALL PROJECTS
                                .small-12.medium-8.columns.image-holder
                                    img(src="../images/bb-s.jpg", alt="pic")
        section.section-offset
            .row.expanded.align-center
                .small-12.large-10.columns
                    .center-slider.offset-slider.case-1
                        .slide-item
                            .image-holder.has-background(style='background-image: url(../images/glav_car/1.jpg)')
                        .slide-item
                            .image-holder.has-background(style='background-image: url(../images/glav_car/2.jpg)')
                        .slide-item
                            .image-holder.has-background(style='background-image: url(../images/glav_car/3.jpg)')
                        .slide-item
                            .image-holder.has-background(style='background-image: url(../images/glav_car/4.jpg)')
                        .slide-item
                            .image-holder.has-background(style='background-image: url(../images/glav_car/5.jpg)')
                        .slide-item
                            .image-holder.has-background(style='background-image: url(../images/glav_car/6.jpg)')
        section.section-offset
            .row.expanded
                .small-12.columns
                    .section-title.text-center
                        h2 Contacts
                    .content-offset
                        .row.expanded.box-shadow
                            .small-12.columns.no-padding
                                img(src='../images/map_main.png' alt='map').map
                            .small-12.large-5.columns.no-padding.blue
                                .contacts-content
                                    .title
                                        h3 Our Adress
                                    ul.contacts-info
                                        li #[span: include ../images/Icon/loc.svg] Montenegro, Podgorica 191186 Millionnaya st. 29
                                        li: a(href="mailto:hello@skydevelopment.com") #[span: include ../images/Icon/mail.svg] hello@skydevelopment.com
                                        li: a(href="tel:+12223450000") #[span: include ../images/Icon/tel.svg] +1 222-345-0000
                            .small-12.large-7.columns.no-padding
                                .contacts-content
                                    .title
                                        h3 Send us a Message
                                    .form-wrapper.
                                        <form class="onlineshop_form" id="footerContactForm" name="form[footerContactForm]" action="javascript:footerContactForm(null);" enctype="multipart/form-data">
                                            <div class='row'>
                                                <div class="small-12 large-6 columns">
                                                    <div class='mat-div'>
                                                        <label class="mat-label">Your name</label>
                                                        <input type="text" name="form_request[footerContactForm][firstname][value]" required="required" class="mat-input">
                                                    </div>
                                                </div>

                                                <div class="small-12 large-6 columns">
                                                    <div class='mat-div'>
                                                        <label class="mat-label">Email Address</label>
                                                        <input type="email" name="form_request[footerContactForm][email][value]" required="required" class="mat-input">
                                                    </div>
                                                </div>

                                                <div class="small-12 large-6 columns">
                                                    <div class='mat-div'>
                                                        <label class="mat-label">Phone</label>
                                                        <input type="text" name="form_request[footerContactForm][phone][value]" class="mat-input">
                                                    </div>
                                                </div>

                                                <div class="small-12 large-6 columns">
                                                    <div class='mat-div'>
                                                        <label class="mat-label">Company</label>
                                                        <input type="text" name="form_request[footerContactForm][company][value]" class="mat-input">
                                                    </div>
                                                </div>

                                                <div class="small-12 columns">
                                                    <div class='mat-div'>
                                                        <label class="mat-label">Message</label>
                                                        <input type="text" name="form_request[footerContactForm][message][value]" required="required" class="mat-input">
                                                        <button type="submit" class="bb-t"></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="hidden" name="form_request[footerContactForm][firstname][title]" value="Your name">
                                            <input type="hidden" name="form_request[footerContactForm][firstname][name]" value="firstname">   
                                            <input type="hidden" name="form_request[footerContactForm][email][title]" value="Email Address">
                                            <input type="hidden" name="form_request[footerContactForm][email][name]" value="email">  
                                            <input type="hidden" name="form_request[footerContactForm][phone][title]" value="Phone">
                                            <input type="hidden" name="form_request[footerContactForm][phone][name]" value="phone">  
                                            <input type="hidden" name="form_request[footerContactForm][company][title]" value="Company">
                                            <input type="hidden" name="form_request[footerContactForm][company][name]" value="company">  
                                            <input type="hidden" name="form_request[footerContactForm][message][title]" value="Message">
                                            <input type="hidden" name="form_request[footerContactForm][message][name]" value="message">
                                            <input type="hidden" name="form_request[form_id]" value="footerContactForm">
                                            <input type="text" name="form_request[footerContactForm][antibot]" id="antibot" style="display: none;">
                                            <img id="imgLoad" src="../images/loading.gif" style="display: none;">
                                        </form>