extends templates/pageTemplate

block tmpVars
    - var bodyClass = '';

block title
    title Site title

block script
    script(type='text/javascript').
        var vars = {
            ajaxUrl: "",
            page: 'common_page'
        };

block content
    main.site-main
      section.section-offset
        .row.align-center
          .small-12.large-10.columns
            .section-title.text-center
              h2 WHY MONTENEGRO
            .section-title-text.text-center
              p How often do you think about buying property abroad? For every dreamer on this topic, there are many obstacles on the way to buying a home abroad. After all, we want, first of all, to feel comfortable in a foreign country, to feel with our soul and body, that this is your second home, and maybe a place where you do not want to leave at all.
      .row.expanded.align-center
          .small-12.large-10.columns
              .center-slider.offset-slider.case-1
                  .slide-item
                      .image-holder.has-background(style='background-image: url(../images/glav_car/1.jpg)')
                  .slide-item
                      .image-holder.has-background(style='background-image: url(../images/glav_car/2.jpg)')
                  .slide-item
                      .image-holder.has-background(style='background-image: url(../images/glav_car/3.jpg)')
                  .slide-item
                      .image-holder.has-background(style='background-image: url(../images/glav_car/4.jpg)')
                  .slide-item
                      .image-holder.has-background(style='background-image: url(../images/glav_car/5.jpg)')
                  .slide-item
                      .image-holder.has-background(style='background-image: url(../images/glav_car/6.jpg)')
      .row.align-center
        .small-12.large-10
          .text-section.case-1
            p Determining with real estate in another country, stop your attention on the small but very hospitable and surprisingly beautiful country of Montenegro. This country, recently, enjoys great popularity among fans of budgetary and ecological rest. Sandy clean beaches with crystal clear sea water, unique lakes, picturesque rocks and bays, mesmerizing mountains and colorful canyons, narrow colorful streets and pompous architecture everyone can find for themselves what is interesting in one small state called Montenegro.
      .row.expanded.align-center.b-text-center.has-background.case-3(style='background-image: url(../images/hs/1.jpg)')
        .small-12.large-10.xlarge-6.columns
          .text-holder.text-center.uppercase.text-section
            p With the growing popularity of world tourism in Montenegro, there is a growing demand for the purchase of real estate in a country so beautiful, developed, safe and culturally close to the Slavic people.
      .row.align-center
        .small-12.large-10
          .text-section.case-1
            p And the most important factor, why it is worth buying a property in this country is the climate. Moderate climate, with mild winter and summer air temperature of + 27C and sea water + 24C, will not leave even the most demanding guest of Montenegro indifferent. And you can choose the right climate for you. The diversity of landscapes and climatic features in such a small state is amazing.

      .row.expanded.content-offset
        .small-12.columns.no-padding
          .offset-slider.double-slider.left-controls
            .slide-item.full-height
                .image-holder.has-background(style='background-image: url(../images/hs/1.jpg)')
            .slide-item.full-height
                .image-holder.has-background(style='background-image: url(../images/hs/2.jpg)')
            .slide-item.full-height
                .image-holder.has-background(style='background-image: url(../images/hs/3.jpg)')
            .slide-item.full-height
                .image-holder.has-background(style='background-image: url(../images/hs/4.jpg)')
            .slide-item.full-height
                .image-holder.has-background(style='background-image: url(../images/hs/5.jpg)')
            .slide-item.full-height
                .image-holder.has-background(style='background-image: url(../images/hs/6.jpg)')

      .row.align-center
          .small-12.large-10
            .text-section.uppercase
              p In Montenegro you can find real estate for every taste. If you adore nature, or like rhythmic life in a metropolis, for you it is absolutely equally possible to try yourself as a resident of this country..
      
      section.services-wrapper
          .row.expanded.content-offset.service-item
            .small-12.medium-6.columns.no-padding.image-holder
              img(src="../images/hs/2.jpg", alt="pic")
            .small-12.medium-6.columns
              .project-item-content
                .b-info_item.case-4
                  .title
                  .content
                    p Wherever you are in Montenegro, you will find the kindness and responsiveness of local residents, where almost zero crime prevails. The sense of security for his family is the basis for a comfortable stay. Montenegro is a dream that can be easily realized together with the group of companies Sky Development. We offer a full range of services from the legal support of the transaction, the addition of a residence permit in Montenegro.


          .row.expanded.content-offset.service-item
            .small-12.medium-6.columns.no-padding.image-holder
              img(src="../images/hs/1.jpg", alt="pic")
            .small-12.medium-6.columns
              .project-item-content
                .b-info_item.case-4
                  .title
                  .content
                    p Favorable soil and for investment in Montenegro: from a villa or cottage in the first line near the sea in the Riviera area to an elite apartment in the capital of Montenegro Podgorica. Apartments can be purchased in any other cultural or historical center of the country. A villa on the snow-capped mountain peaks or on the shores of lakes and rivers, away from the hustle and bustle of the city - all this can be a great place to build your future home in Montenegro.
